<div class="row">
    <im-breadcrumb name="'Resource'" id="state.id"> </im-breadcrumb>
    <div class="col-md-5 detail">
           <p><strong>Repo:</strong> {{env.repo_url}} </p>
           <p><strong>Branch:</strong> {{env.repo_branch}} </p>
           <p><strong>ID:</strong> {{env.id}} </p>   
           
    </div>
    <div class="col-md-5 detail">
           <p><strong>Resource</strong> {{state.id}} </p>   
    </div>
    <div class="col-md-12">
    <table class="table table-lined" ng-table="tableParams" show-filter="true">
        <tbody ng-repeat="log in $data">
            <tr>
                <td class="col-md-1">
                    <span ng-click="log.open=!log.open" class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': log.open, 'glyphicon-chevron-right': !log.open}"></span>
                    <span class="pull-right badge">+{{log.messages.length}} </span>
                </td>
                <td class="col-md-2" data-title="'Action'" data-sortable="'action'" filter="{ 'action':'text'}" >{{log.action}}</td>
                <td class="col-md-3" data-title="'Started'" data-sortable="'started'" filter="{ 'started':'text'}">{{log.started|date:'dd/MM/yyyy HH:mm:ss.sss'}}</td>
                <td class="col-md-3" data-title="'Finished'" data-sortable="'finished'" filter="{ 'finished':'text'}">{{log.finished|date:'dd/MM/yyyy HH:mm:ss.sss'}}</td>
                <td class="col-md-3" data-title="'Status'" data-sortable="'status'" filter="{ 'status':'text'}" >{{log.status}}</td>
            </tr>
            <tr ng-repeat="line in log.messages" class="accordian-body collapse" collapse="!log.open">
                <td><button class="btn btn-link btn-xs" ng-click="details(line)"> <span class="glyphicon glyphicon-zoom-in"></span></button></td>
                <td>{{ line.timestamp | date:'dd/MM/yyyy HH:mm:ss.sss' }}</td>
                <td>{{ line.level }}</td>
                <td colspan="2">{{ line.msg }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>