<div class="row">
    <ol class="breadcrumb col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <li><a ui-sref="portal">Home</a></li>
        <li class="active">Environment: {{env.name}}</a>
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-md-5 detail">
           <p><strong>Repo:</strong> {{env.repo_url}} </p>
           <p><strong>Branch:</strong> {{env.repo_branch}} </p>
       
           
    </div>
    <div class="col-md-5 detail">
           <p><strong>Expire (s):</strong> {{expire}} </p>   
           <p><strong>Server Time:</strong> {{servertime|date:'dd/MM/yyyy HH:mm'}} </p>   
           <p><strong>Drift (ms):</strong> {{drift}} </p>   
    </div>
    
    <div class="col-md-12">
    <table class="table table-lined" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="param in $data" ng-class="{'warning':param.expired}" >
            <td data-title="'Name'" sortable="'name'" filter="{ 'name':'text'}" >{{param.name}}</td>
            <td data-title="'Resource'" sortable="'resource_id'" filter="{ 'resource_id':'text'}">{{param["resource_id"]}}</td>
            <td data-title="'Updated'" sortable="'updated'" filter="{ 'updated':'text'}">{{param.updated|date:'dd/MM/yyyy HH:mm'}}</td>
            <td data-title="'Source'" sortable="'source'" filter="{ 'source':'select'}" filter-data="names()"> {{param.source}}</td>
            <td data-title="'Value'"  sortable="'expired'" filter="{ 'expired':'select'}" filter-data="tf()" ng-init="controlrecord=getRecord(param)">
                <button ng-hide="controlrecord.show || param.expired" class="btn-default btn" ng-click="getValue(controlrecord)"> Show </button>
                <div ng-hide="!controlrecord.show"> {{controlrecord.value}} </div>
                <div ng-hide="! param.expired"> Expired </div>
            </td>
        </tr>
    </table>
    </div>
</div>
