<div class="row">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked" ng-if="state.env">
	    <li ui-sref-active="active" ng-class={'active':state.version}> <a ui-sref="envs({env:state.env})"> Versions </a> 
            </li>
            <li ui-sref-active="active"> <a ui-sref="resourceCentric({env:state.env})"> Resources </a> 
            </li>
            <li ui-sref-active="active"> <a ui-sref="params({env:state.env})">Parameters</a> 
            </li>
            <li ui-sref-active="active"> <a ui-sref="agents({env:state.env})">Agents</a> 
            </li>

           
            
        </ul>
    
            <div class="row" style="position:absolute; bottom:55px;" ng-controller="configCtrl">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default" ng-click="openFeedback(null)" data-toggle="tooltip" data-placement="top" title="Give feedback"><span class="glyphicon glyphicon-thumbs-up"></span> / <span class="glyphicon glyphicon-thumbs-down"></span></button>
                </div>
                <div class="col-xs-9"> <h5 class="text-right">{{config.backend}}</h5> </div>
       </div>
</div>
