<div class="row">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked" ng-if="state.env">
            <li ui-sref-active="active"> <a ui-sref="portal({env:state.env})"> Portal </a></li>
            <li ui-sref-active="active" ng-class="{'active':state.version}"> <a ui-sref="envs({env:state.env})"> Versions </a></li>
            <li ui-sref-active="active"> <a ui-sref="resourceCentric({env:state.env})"> Resources </a></li>
            <li ui-sref-active="active" ng-if="lcm"> <a ui-sref="fsm({env:state.env})"> Lifecycle Manager </a></li>
            <li ui-sref-active="active"> <a ui-sref="params({env:state.env})">Parameters</a></li>
            <li ui-sref-active="active"> <a ui-sref="compilequeue({env:state.env})">Compiler queue</a></li>
            <li ui-sref-active="active"> <a ui-sref="agents({env:state.env})">Agents</a></li>
            <li ui-sref-active="active"> <a ui-sref="settings({env:state.env})">Settings</a></li>
            <li><a href="/console" target="_blank"><span class="glyphicon glyphicon-share"></span> Web Console</a></li>
        </ul>
        <div class="row" style="position: absolute; bottom: 65px;" ng-controller="configCtrl">
            <div class="col-xs-3">
                <a class="btn btn-default" href="https://github.com/inmanta/inmanta/issues/new" data-toggle="tooltip" 
                   data-placement="top" title="Give feedback in Github" target="_blank"><span class="glyphicon glyphicon-envelope"></span></a>
            </div>
            <div class="col-xs-9">
                <a class="btn btn-labeled btn-success" ui-sref="status()" ng-if="connectionStatus=='connected'">
                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Connected
                </a>
                <a class="btn btn-labeled btn-danger" ui-sref="status()" ng-if="connectionStatus=='disconnected'">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Disconnected
                </a>
            </div>
        </div>
    </div>
</div>