 
       <div class="row">
           <table class="table table-lined">  
            <tr> <th>env</th> <th>project</th>  <th>state</th> <th>remove</th></tr>
           
   <tr class="emptyline" ng-repeat-start="line in lines"> </tr>

	 <tr ng-repeat-end > 
             <td><a ui-sref="envs({env:line.id})">{{line.name}}</a></td> 
             <td>{{line.projectname}}</td> 
           
             <td>Active</td>
          
           
             <td><button class="btn btn-default btn-xs" ng-click="deleteEnv(line.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
             </button> </td>
            
             </tr>

          
       
   
             
             
           </table>
       </div>


