<div class="row">
	   <div class="col-md-12">
           <ol class="breadcrumb">
            <li><a ui-sref="portal">Home</a></li>
            <li class="active">Environment:<a ui-sref="envs({env:state.env})"> {{env.name}}</a></li>
           </ol>
 	   </div>
</div>
<div class="row">
       <div class="col-md-12">
            <h1> Resources Overview </h1>
       </div>
</div>
<!--<div class="row">
    <div class="col-md-2">
        <strong> Deploy status: </strong>
    </div>
    <div class="col-md-10">
        <div class="progress">
            <div class="progress-bar" ng-click="setFilter('deployed_version',name)" ng-repeat="(name,count) in counts"  ng-style="{width: count/maxcount*100+'%', 'background-color': 'hsl(100, '+($index+1)/(vcount+1)*100+'%, 50%)'}"s>
                <span>{{name}} ({{count}})</span>
            </div>
        </div>
    </div>
</div>
-->

<div class="row">


<div class="col-md-12">
           <table class="table table-lined" ng-table="tableParams" show-filter="true">  
            
            <tr ng-repeat="res in $data track by res.id" > 
             <td style="width:3em;"> <span ng-if="res.deployed_version==res.latest_version" class="glyphicon glyphicon-ok" title="Up to date"></span> </td>
            
             <td data-title="'Type'" sortable="'id_fields.type'" filter="{ 'id_fields.type':'text'}"><a ui-sref="logs({env:state.env,id:res.id})">{{res.id_fields.type}}</a></td> 
             <td data-title="'Agent'" sortable="'id_fields.agent'" filter="{ 'id_fields.agent':'text'}">{{res.id_fields.agent}}</td> 
             <td data-title="'Value'" sortable="'id_fields.value'" filter="{ 'id_fields.value':'text'}" class="col-md-2">{{res.id_fields.value}}</td> 
             <td data-title="'Deployed version'" sortable="'deployed_version'" filter="{ 'deployed_version':'text'}" class="col-md-2">
                <a ui-sref="resources({env:state.env,version:res.deployed_version})">{{res.deployed_version | nozero}}</a></td> 
             <td data-title="'Latest version'" sortable="'latest_version'" filter="{ 'latest_version':'text'}" class="col-md-2">
                <a ui-sref="resources({env:state.env,version:res.latest_version})">{{res.latest_version | nozero}}</a>
             </td> 
              <td data-title="'Latest version'" sortable="'latest_version'" filter="{ 'latest_version':'text'}" class="col-md-2">
                {{res.last_deploy |date:'dd/mm/yyyy hh:mm'}}
             </td> 
             <td> <button class="btn btn-link" ng-click="details(res)" style="color: #333333"> <span class="glyphicon glyphicon-zoom-in"> </span> </button> </td>
            
             </tr>

             
           </table>

       </div>           
       </div>

