 <div class="row">
       <div class="col-md-2 sidebar">
      
          
       <div class="row" style="position:absolute; bottom:50px;" ng-controller="configCtrl">
            <div class="col-xs-3"><button type="button" class="btn btn-default" ng-click="openFeedback(null)" data-toggle="tooltip" data-placement="top" title="Give feedback"><span class="glyphicon glyphicon-thumbs-up"></span> / <span class="glyphicon glyphicon-thumbs-down"></span></button></div>
            
            <div class="col-xs-9"> <h5>{{config.backend}}</h5> </div>
       </div>
</div>
