<!--<div ng-controller="projectsController">-->
    
    <ul class="nav navbar-nav" >
    <li dropdown>
    
      <a href id="simple-dropdown" dropdown-toggle>
        {{currentProject.name}} <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in projects">
          <a href="#/environment/{{choice.id}}" ng-click="setCurrentProject(choice)">{{choice.name}}</a>
        </li>
      </ul>

    </li>
</ul>
<!--         <li dropdown  >-->
<!--              <a dropdown-toggle>-->
<!--                    <span class="glyphicon glyphicon-clock"></span>-->
<!--					<span ng-show="!refresh">Refresh Off</span>-->
<!--					<span ng-show="refresh" class="text-warning">refreshed every {{refresh}} </span>-->
<!--			   </a>-->
<!--             <ul class="dropdown-menu">-->
<!--                <li ng-repeat="interval in refresh_intervals" ng-class={"active":interval==refresh}><a ng-click="setRefresh(interval)">{{interval}}</a></li>-->
<!--               -->
<!--              </ul>-->
<!--         </li>-->
<!--</div>-->
