<!--<div ng-controller="projectsController">-->
    
<ul class="nav navbar-nav" >
    <li dropdown >
      <a id="simple-dropdown" class="pull-right"   dropdown-toggle>
       <small><span class="glyphicon glyphicon-th-list"></span></small>       
       <span> {{currentProject.name}} {{currentEnv.name}} </span> 
       <small><span class="glyphicon glyphicon-chevron-down"></span></small>
      </a>
      <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
        <li ng-repeat="project in projects">
              <a ui-sref="project({project:project.id})">{{project.name}}</a>
              <ul >
                <li ng-repeat="env in project.envs"> <a ui-sref="envs({env:env.id})"> {{env.name}} </a> </li>
              </ul>       
        </li>
         <li role="separator" class="divider"></li>
        <li> <a ui-sref="projects()">all projects</a> </li>
      </ul>
    </li>
</ul>

