/* app css stylesheet */

/* fix to make href button like*/
a {
    cursor: pointer;
}

.navbar {
  margin-bottom:0;
}

.detail {
 padding-left:30px;
 padding-right:30px;
}

.table > tbody > tr > td.row {
 padding-left:0;
 padding-right:0;
}


.abrev {
 word-wrap:break-word;
}

body { padding-top: 50px;}

/* Sidebar Styles */

.sidebar {
    height: 100%;
    display:block;
    border-right: 1px solid #eee;
    background: #fafafa;
    position: fixed;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 15px;

}

.sidebar > ul > li {
    text-align: right;
}

.sidebar > ul > li.divider {
    border-bottom:1px solid #ccc;
}

/* Page buildup Styles */

.page-header {
    border-bottom-style: none;
    margin-bottom: 0px;
}

.page-button-band {
     margin: 0px 0 15px;
}


.page-button-band > a > button,
.page-button-band > button {
    margin-left: 20px;
    float: right !important;
}

.progress.compact {
    margin: 0;
}


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.btn-link {
    color: #333333
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-nonfluid {
   width: auto !important;
}

.table-lined {
  margin-bottom: 20px;
}

.table-lined > tbody > tr >.hiddenRow {
  padding:0
}

.table-lined > tbody > .emptyline {
  border: 0;
  height: 5px;
}

.table-lined > thead > tr,
.table-lined > tbody > tr,
.table-lined > tfoot > tr {
  border: 1px solid #ddd;
}

.ng-table th {
    text-transform: capitalize;
}

/*graph*/

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #006e7f;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #00424c;
}
