<div class="row">
	  <im-breadcrumb>    </im-breadcrumb>
</div>
<div class="row">
       <div class="col-md-12">
            <h1> Resources Overview </h1>
       </div>
</div>
<!--<div class="row">
    <div class="col-md-2">
        <strong> Deploy status: </strong>
    </div>
    <div class="col-md-10">
        <div class="progress">
            <div class="progress-bar" ng-click="setFilter('deployed_version',name)" ng-repeat="(name,count) in counts"  ng-style="{width: count/maxcount*100+'%', 'background-color': 'hsl(100, '+($index+1)/(vcount+1)*100+'%, 50%)'}"s>
                <span>{{name}} ({{count}})</span>
            </div>
        </div>
    </div>
</div>
-->

<div class="row">


<div class="col-md-12">
           <table class="table table-lined" ng-table="tableParams" show-filter="true">  
            
            <tr ng-repeat="res in $data track by res.resource_id" > 
             <td style="width:3em;" data-sortable="'deployed_version'"> <span ng-if="res.deployed_version==res.latest_version" class="glyphicon glyphicon-ok" title="Up to date"></span> </td>
            
             <td data-title="'Type'" data-sortable="'resource_type'" filter="{ 'resource_type':'text'}">{{res.resource_type}}</td> 
             <td data-title="'Agent'" data-sortable="'agent'" filter="{ 'agent':'text'}">{{res.agent}}</td> 
             <td data-title="'Value'" data-sortable="'id_attribute_value'" filter="{ 'id_attribute_value':'text'}" class="col-md-2">{{res.id_attribute_value}}</td> 
             <td data-title="'Deployed version'" data-sortable="'deployed_version'" filter="{ 'deployed_version':'text'}" >
                <a ui-sref="resources({env:state.env,version:res.deployed_version})">{{res.deployed_version | nozero}}</a></td> 
             <td data-title="'Latest version'" data-sortable="'latest_version'" filter="{ 'latest_version':'text'}" >
                <a ui-sref="resources({env:state.env,version:res.latest_version})">{{res.latest_version | nozero}}</a>
             </td> 
              <td data-title="'Last Deploy'" data-sortable="'last_deploy'" >
                {{res.last_deploy |date:'dd/MM/yyyy HH:mm'}}
             </td> 
             <td> <button class="btn btn-link btn-xs" ng-click="details(res)" style="color: #333333" title="View details for this resource"> <span class="glyphicon glyphicon-zoom-in"> </span> </button> </td>
            
             </tr>

             
           </table>

       </div>           
       </div>

