<div class="row">
    <im-breadcrumb> </im-breadcrumb>
</div>
<div class="row">
    <div class="col-md-12">
        <h1> Resources Overview </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-lined" ng-table="tableParams" show-filter="true">
            <tr ng-repeat="res in $data track by res.resource_id">
                <td style="width:3em;" data-sortable="'deployed_version'">
                    <span ng-if="res.deployed_version==res.latest_version" class="glyphicon glyphicon-ok"
                        title="Up to date"></span>
                </td>

                <td data-title="'Type'" data-sortable="'resource_type'" filter="{ 'resource_type':'text'}">
                    {{res.resource_type}}
                </td>
                <td data-title="'Agent'" data-sortable="'agent'" filter="{ 'agent':'text'}" ng-class="res.agent_status == 'down' ? 'text-danger' : res.agent_status == 'paused' ? 'text-warning' : 'text-dark'">
                    <i ng-if="res.agent_status !== 'up'" class="glyphicon glyphicon-warning-sign"  style="width: 14px" data-toggle="tooltip" title="Agent is {{res.agent_status}}"></i> 
                        {{res.agent}} 
                </td>
                <td data-title="'Value'" data-sortable="'id_attribute_value'" filter="{ 'id_attribute_value':'text'}"
                    class="col-md-2">
                    {{res.idItems.attribute_value}}
                </td>
                <td data-title="'Deployed version'" data-sortable="'deployed_version'"
                    filter="{ 'deployed_version':'text'}">
                    <a
                        ui-sref="resources({env:state.env,version:res.deployed_version})">{{res.deployed_version | nozero}}</a>
                </td>
                <td data-title="'Latest version'" data-sortable="'latest_version'" filter="{ 'latest_version':'text'}">
                    <a
                        ui-sref="resources({env:state.env,version:res.latest_version})">{{res.latest_version | nozero}}</a>
                </td>
                <td data-title="'Last Deploy'" data-sortable="'last_deploy'">
                    {{res.last_deploy |date:'dd/MM/yyyy HH:mm'}}
                </td>
            </tr>
        </table>
    </div>
</div>