<div class="row">
    <im-breadcrumb name="'Agents'">    </im-breadcrumb>
    
     <div class="col-md-12" nf-if="env">
    <H1> Agents in {{env}} Environment</H1>
    <table class="table table-lined" ng-table="tableParams2" show-filter="true">
        <tr ng-repeat="agent in $data" ng-class="{'warning':agent.expired}">
            <td data-title="'Name'" data-sortable="'name'" filter="{ 'name':'text'}"> {{agent.name}}</td>
            <!-- this pattern is requirted because templates no longer support deffered values, we just return a list, that is filled when data is ready-->
            <td data-title="'Active Process'" data-sortable="'primary'" filter="{ 'primary':'text'}" ng-init="env=getProcess(agent.environment, agent.primary)"><a ng-click="hl(env[0].id)" > {{env[0].hostname}} </a></td>
            <td data-title="'Paused'" data-sortable="'paused'" filter="{ 'paused':'text'}">{{agent.paused}}</td>
            <td data-title="'State'" data-sortable="'state'" filter="{ 'state':'text'}">{{agent.state}}</td>
            <td data-title="'Last Failover'" data-sortable="'last_failover'" filter="{ 'last_failover':'text'}">{{agent.last_failover|date:'dd/MM/yyyy HH:mm'}}</td>
           
        </tr>
    </table>
    </div>
    
    <div class="col-md-12">
    <H1> Agent Processes </H1>
    <table class="table table-lined" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="agent in $data" ng-class="{'warning':agent.expired, 'success':highlight == agent.id}">
            <td data-title="'Hostname'" data-sortable="'hostname'" filter="{ 'hostname':'text'}">{{agent.hostname}}</td>
            <!-- this pattern is requirted because templates no longer support deffered values, we just return a list, that is filled when data is ready-->
            <td data-title="'Environment'" data-sortable="'environment'" filter="{ 'environment':'select'}" filter-data="names()" ng-init="env=getEnv(agent.environment)"><a ui-sref="envs({env:agent.environment})">{{env[0].name}}</a></td>
            <td data-title="'Agents'"><p ng-repeat="ep in agent.endpoints"> {{ep.name}} </p></td>
            <td data-title="'First seen'" data-sortable="'first_seen'" filter="{ 'first_seen':'text'}">{{agent.last_seen|date:'dd/MM/yyyy HH:mm'}}</td>
            <td data-title="'Last seen'" data-sortable="'last_seen'" filter="{ 'last_seen':'text'}">{{agent.first_seen|date:'dd/MM/yyyy HH:mm'}}</td>
            <td data-title="'Expired'" data-sortable="'expired'" filter="{ 'expired':'text'}">{{agent.expired|date:'dd/MM/yyyy HH:mm'}}</td>
            <td> <button class="btn btn-link btn-xs" ng-click="details(agent)" ng-hide="agent.expired"> <span class="glyphicon glyphicon-zoom-in"></span> </button> </td>
           
        </tr>
    </table>
    </div>
   
   
</div>
