<div class="row">   
     <div class="col-md-12">
         <div class="page-header">
            <h1> Projects </h1>
         </div>
      </div>  
	  <div class="col-md-12 page-button-band ">
		<a ui-sref="addProject" class="pull-right"><button type="button" class="btn btn-primary" >Add new project</button> </a>
	  </div>	
</div>

<div class="row">
    <div class="col-md-12">
    <table class="table table-lined" ng-table="tableParams" show-filter="false">
        <tr ng-repeat="project in $data">
            <td data-title="'Name'" data-sortable="'name'" filter="{ 'name':'text'}"><a ui-sref="project({project:project.id})" > {{project.name}}</a></td>
            <td data-title="'Id'" data-sortable="'id'" filter="{ 'id':'text'}">{{project.id}}</td>         
             <td>
                <button class="btn btn-default btn-xs" ng-click="deleteProject(project)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>  
        </tr>
    </table>
    </div>
</div>
