<div class="row">
    <im-breadcrumb name="'Portal'">    </im-breadcrumb> 
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail">
        <p><strong>Repo:</strong> {{env.repo_url}} </p>
        <p><strong>Branch:</strong> {{env.repo_branch}} </p>
    </div>	


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ng-include src="'views/env/buttonband.html'" ></ng-include>
    </div>	

</div>
<div class="row" ng-show="unknowns.length>0">
    <div class="col-md-12">
        <h2> Required Input </h2>
        <p class="detail">  To complete the deployment, user input is required. Below is a list of forms that require input.  </p>
    
        <ul class="list-unstyled detail">
                <li  ng-repeat="unknown in unknowns track by unknown.metadata.form " >
                <a ui-sref="forms({env:state.env,form:unknown.metadata.form,'#':unknown.metadata.form})"> {{unknown.metadata.form}}</a>
                <!--<record-editor env="state.env" type="unknown.metadata.form" /> -->
                </li>
        </ul>
    </div>
</div>

<div class="row" ng-show="report.length>0">
    <div class="col-md-12">
        <h2> Application Overview </h2>
    </div>

    <div class="col-md-12" >
     <table class="table table-nonfluid">
        <tr ng-repeat="line in report  | orderBy : 'name' ">
        <td> <strong>{{line.name}} </strong></td>
        <td ng-repeat-end ng-switch="line.value.indexof('http')<0">
            <span ng-switch-default>
             {{line.value}} 
            </span>
            <a target="_new" href="{{line.value}}" ng-switch-when="false">
              {{line.value}} 
            </a>
         </td>
         </tr>
     </table>
    </div>
</div>
    
<div class="row">
       <div class="col-md-12">
            <h2> Deployment Overview</h2>
       </div>
       
       <div class="col-md-5 " ng-show="lastVersion">
        <h3> Lastest Deployed Version</h3>
            <p>
                <strong> Version <a ui-sref="resources({env:state.env,version:lastVersion.version})" >{{lastVersion.version}} </a> is currently deployed</strong>   
                
                <button class="btn btn-link btn-xs" ng-disabled="true"  title="Perform dry run">
                    <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
                </button>  
                
                <button class="btn btn-link btn-xs" ui-sref="report({env:state.env,version:lastVersion.version})" title="Dry run report">
                    <span class="glyphicon glyphicon-list-alt"> </span>
                </button> 
           
                <button class="btn btn-link btn-xs"  ng-disabled="true"  title="Release version" >
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>    
            </p>
             <deploy-progress data="lastVersion"> </deploy-progress> 
             <p> </p>
            <p>  <Strong>Built on:</Strong> {{lastVersion.date |date:'dd/MM/yyyy HH:mm'}} </p>
       </div>
       
       <div class="col-md-5 " ng-show="newVersion">
        <h3> Newest Version</h3>
            <p>
                <strong> Version <a ui-sref="resources({env:state.env,version:newVersion.version})" > {{newVersion.version}} </a> is ready to deploy </strong>   
                
                <button class="btn btn-link btn-xs" ng-click="startDryRun(newVersion)"  title="Perform dry run">
                    <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
                </button>  
                
                <button class="btn btn-link btn-xs" ui-sref="report({env:state.env,version:newVersion.version})" title="Dry run report">
                    <span class="glyphicon glyphicon-list-alt"> </span>
                </button> 
           
                <button class="btn btn-link btn-xs" ng-click="deploy(newVersion)" ng-disabled="newVersion.released " title="Release version" >
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>    
            </p>
            <deploy-progress data="newVersion"> </deploy-progress>
            <p class="detail">  <Strong>Built on:</Strong> {{newVersion.date |date:'dd/MM/yyyy HH:mm'}} </p>       
       </div>
</div>
