<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title"><span class="{{icon}}"></span>{{header}}</h4>
</div>

<div class="modal-body">
    <div><strong>Level:</strong> {{ message.level }}</div>
    <div><strong>Timestamp: </strong> {{ message.timestamp | date:'dd/MM/yyyy HH:mm:ss.sss' }}</div>
    <div><strong>Message: </strong> <pre>{{ message.msg }}</pre></div>

    <h5>Message kwargs</h5>
    <ul>
        <li ng-repeat="arg in kwargs" class="abrev">
            <strong> {{arg}}: </strong> <pre>{{message.kwargs[arg]}}</pre>
        </li>
    </ul>
</div>