<div class="row">
    <im-breadcrumb></im-breadcrumb>
</div>

<deploy-progress data="status" name="'Deploy state'" action="setsort" emptyname="'Deploy'" emptyaction="deploy" >
</deploy-progress>

<div class="row">
    <ng-include src="'views/resource/buttonBar.html'" ></ng-include>
    <div class="col-md-12">
        <table class="table table-lined" ng-table="tableParams" show-filter="true">
            <tbody ng-repeat="res in $data track by res.id" style="border-top: none">
                <tr ng-class="{'bg-info':res.id==toHighlight}">
                    <td data-title="'Type'" data-sortable="'resource_type'" filter="{'resource_type':'text'}"><a ui-sref="logs({env:state.env, id:res.id, version:state.version})">{{res.resource_type}}</a></td>
                    <td data-title="'Agent'" data-sortable="'agent'" filter="{ 'agent':'text'}">{{res.agent}}</td>
                    <td data-title="'Value'" data-sortable="'id_attribute_value'" filter="{ 'id_attribute_value':'text'}" class="col-md-2">{{res.id_attribute_value}}</td>
                    <td data-title="'Deps'" data-sortable="'deporder'">
                        <button ng-if="res.attributes.requires.length != 0" type="button" class="btn btn-default btn-xs" ng-click="res.deps_open=!res.deps_open" >
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-down': res.deps_open, 'glyphicon-chevron-right': !res.deps_open}"></span>
                            {{res.attributes.requires.length}}
                        </span>
                    </td>
                    <td data-title="'Deploy state'" data-sortable="'status'" filter="{'status':'select'}" filter-data="states()" class="col-xs-1 "><inmanta-status resource="res"></inmanta-status></td>
                    <td>
                        <button class="btn btn-link btn-xs" ng-click="details(res)"> <span class="glyphicon glyphicon-zoom-in"></span></button>
                        <button class="btn btn-link btn-xs" ui-sref="logs({env:env.id, id:res.resource_version_id})" title="Resource logs">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                    </td>
                </tr>
                <tr class="accordian-body collapse" collapse="!res.deps_open">
                    <td colspan="2" style="padding-left: 5em"><strong>Dependency</strong></td>
                    <td colspan="4"><strong>Deploy State</strong></td>
                </tr>
                <tr ng-repeat="dep in res.requires_ids" class="accordian-body collapse" collapse="!res.deps_open">
                    <td colspan="2" style="padding-left: 5em">{{ dep.entity_type }}[ {{ dep.agent_name }}, {{ dep.attribute }}={{dep.attribute_value}} ]</td>
                    <td colspan="4"><inmanta-status resource="alldata[dep.id]"></inmanta-status></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>