<div class="row">    
        <im-breadcrumb>    </im-breadcrumb>
</div>

<deploy-progress data="status" name="'Deploy'" action="setsort" emptyname="'Deploy'" emptyaction="deploy" > 
</deploy-progress> 


<div class="row">

<ng-include src="'views/resource/buttonBar.html'" ></ng-include>


<div class="col-md-12">
           <table class="table table-lined" ng-table="tableParams" show-filter="true">  
            
            <tr ng-repeat="res in $data track by res.id" ng-class="{'bg-info':res.id==toHighlight}" > 
            
            
             <td data-title="'Type'" sortable="'id_fields.entity_type'" filter="{ 'id_fields.entity_type':'text'}"><a ui-sref="logs({env:state.env,id:res.id, version:state.version})">{{res.id_fields.entity_type}}</a></td> 
             <td data-title="'Agent'" sortable="'id_fields.agent_name'" filter="{ 'id_fields.agent_name':'text'}">{{res.id_fields.agent_name}}</td> 
             <td data-title="'Value'" sortable="'id_fields.attribute_value'" filter="{ 'id_fields.attribute_value':'text'}" class="col-md-2">{{res.id_fields.attribute_value}}</td> 
             <td data-title="'Deps'" sortable="'deporder'" class="col-md-2" style="max-width: 90px; word-wrap: break-word;"> <div ng-repeat="d in res.fields.requires track by $index"> <p ng-click="highlight(d)">{{d }}  </p>  </div></td>
             <td data-title="'State'" sortable="'state'"  filter="{ 'state':'select'}" filter-data="states()" class="col-xs-1 "> {{res.state}} </td>    
             <td data-title="'Result'" sortable="'result'" filter="{ 'result':'select'}" filter-data="results()" class="col-xs-1 "> {{res.result}} </td>    
             <td> <button class="btn btn-link btn-xs" ng-click="details(res)"> <span class="glyphicon glyphicon-zoom-in"></span> </button> </td>
           
             </tr>

             
           </table>

       </div>           
       </div>

