<div class="modal-header">
    <h3 ng-if="form.options.title"> {{form.options.title}} </h3>
    <h3 ng-if="!form.options.title"> {{form.form_type}} </h3>
</div>



<form name="form.userForm" ng-submit="submit()" novalidate>
    <div class="modal-body">
        <p> {{form.options.help}}</p> 
        <!-- NAME -->
        <div ng-repeat="type in fieldList track by type.key" ng-switch="type.options.widget">
            
            <!-- Default, on type-->
            <div ng-switch-default class="form-group">
                <label style="text-transform: capitalize;">{{type.key  | replace:'_':' '}} </label>
                <input type="text" name="{{type.key}}" ng-model="record.fields[type.key]" class="form-control" required/>    
                <p class="help-block">{{type.options.help}}</p>
            </div>
            <!-- Option -->
            <div ng-switch-when="options"  class="form-group">
                 <label style="text-transform: capitalize;">{{type.key  | replace:'_':' '}} </label>
                 <select class="form-control" name="{{type.key}}"  ng-model="record.fields[type.key]" class="form-control" required>
                        <option ng-repeat="item in type.options.options track by item">{{item}}</option>
                 </select>
                 <p class="help-block">{{type.options.help}}</p>
            </div>    
            <!-- Checkbox -->
            <div ng-switch-when="checkbox" class="checkbox">
                <label style="text-transform: capitalize;">
                    <input type="checkbox" name="{{type.key}}"  ng-model="record.fields[type.key]" ng-true-value="true" ng-false-value="false" />  
                    {{type.key  | replace:'_':' '}}   
                </label>
                <p class="help-block">{{type.options.help}}  </p>
            </div>
            <!-- Slider -->
            <div ng-switch-when="slider"  class="form-group">
                <label style="text-transform: capitalize;">{{type.key  | replace:'_':' '}} </label>
                <input type="text" name="{{type.key}}"  ng-model="record.fields[type.key]" class="form-control" class="form-control" slider options="type.options.options" required/>
                <p class="help-block">{{type.options.help}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid">Save</button>
    </div>
</form>
