<a id={{selectedForm.form_type}}></a>
<h2 ng-if="selectedForm.options.title"> {{selectedForm.options.title}} </h2>
<h2 ng-if="!selectedForm.options.title"> {{selectedForm.form_type}} </h2>
<p class="bg-warning" ng-if="highlight"> This form must be filled in to compile the model</p>

<p> {{selectedForm.options.help}}</p> 
{{cols}}
<button ng-click="tableParams.reload()"> rel </button>
<table  ng-table-dynamic="tableParams with cols" class="table table-lined"  >
    <tr ng-repeat="record in $data track by record.record_id">
        <td ng-repeat="col in $columns track by col.field">{{record.fields[cols[$index].field]}}</td>
    </tr>
</table>
