<a id={{selectedForm.form_type}}></a>
<h2 ng-if="selectedForm.options.title"> {{selectedForm.options.title}} </h2>
<h2 ng-if="!selectedForm.options.title"> {{selectedForm.form_type}} </h2>
<p class="bg-warning" ng-if="highlight"> This form must be filled in to compile the model</p>

<p> {{selectedForm.options.help}}</p> 

<table class="table table-lined ng-table"  >
    <tr>
        <th ng-repeat="(name,type) in selectedForm.fields" style="text-transform: capitalize;" >
           {{name  | replace:'_':' '}} 
        </th>
        <th>
            <button ng-show="selectedForm.options.record_count==0 || allRecords.length<selectedForm.options.record_count" ng-click="allRecords.push(newrecord(selectedForm)); ">
            {{allRecords.length}}/{{selectedForm.options.record_count}} Add </button>
        </th>
    </tr>
    <tr ng-repeat="record in allRecords track by record.record_id" ng-init="edit=record.edit">
        
        <form name="form" novalidate>
            <td ng-repeat="(name,type) in selectedForm.fields" ng-switch="edit">
                      
                <span ng-switch-default>{{record.fields[name]}}</span>
                <div ng-switch-when="true" ng-switch="selectedForm.field_options[name]['widget']">
                    <select class="form-control" ng-switch-when="options" ng-model="record.fields[name]" popover="{{selectedForm.field_options[name]['help']}}"  popover-trigger="mouseenter" required>
                        <option ng-repeat="item in selectedForm.field_options[name]['options'].split(',') track by item">{{item}}</option>
                    </select>
                    <input ng-switch-default type="{{getFormType(type)}}" name="{{name}}" ng-model="record.fields[name]" class="form-control" popover="{{selectedForm.field_options[name]['help']}}"  popover-trigger="mouseenter" required/>
                    <input ng-switch-when="slider" type="text" name="{{name}}" ng-model="record.fields[name]" class="form-control" slider options="{from:0,to:100,step:1}"  popover="{{selectedForm.field_options[name]['help']}}"  popover-trigger="focus" required/>
                </div>
            </td>
            <td>
                <button class="btn btn-link btn-xs" ng-hide="edit" ng-click="edit= true" title="Edit" > 
                    <span class="glyphicon glyphicon-edit"/>
                </button>
                <button class="btn btn-link btn-xs" ng-hide="edit" ng-click="delete(record)" title="Delete">
                     <span class="glyphicon glyphicon-trash"/>
                 </button>
                <button class="btn btn-link btn-xs" ng-hide="!edit" ng-click="save(record); edit=false" title="Save"> 
                     <span class="glyphicon glyphicon-save"/>
                </button>

            </td>
        </form>
    </tr>
</table>
