<div class="row">
    <ol class="breadcrumb">
        <li><a ui-sref="portal">Home</a></li>
        <li class="active">Agents</a>
        </li>
    </ol>
    <div class="col-md-12">
    <table class="table table-lined" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="agent in $data" ng-class="{'warning':agent.expired}">
            <td data-title="'Hostname'" sortable="'hostname'" filter="{ 'hostname':'text'}">{{agent.hostname}}</td>
            <!-- this pattern is requirted because templates no longer support deffered values, we just return a list, that is filled when data is ready-->
            <td data-title="'Environment'" sortable="'environment'" filter="{ 'environment':'select'}" filter-data="names()" ng-init="env=getEnv(agent.environment)"><a ui-sref="envs({env:agent.environment})">{{env[0].name}}</a></td>
            <td data-title="'Name'" sortable="'name'" filter="{ 'name':'text'}">{{agent.name}}</td>
            <td data-title="'Last seen'" sortable="'last_seen'" filter="{ 'last_seen':'text'}">{{agent.last_seen|date:'M/d/yy H:mm'}}</td>
	     <td data-title="'Interval'" sortable="'interval'" filter="{ 'interval':'number'}">{{agent.interval}}</td>

        </tr>
    </table>
    </div>
</div>
