<div class="row">
    <ol class="breadcrumb">
        <li><a ui-sref="projects">Home</a></li>
        <li><a ui-sref="envs({env:state.env})"> {{env.name}}</a></li>
        <li><a ui-sref="resources({env:state.env,version:cmversion})">{{cmversion}}</a></li>
        <li class="active"> {{state.id}} </li>
    </ol>
    <div class="col-md-5 detail">
           <p><strong>Repo:</strong> {{env.repo_url}} </p>
           <p><strong>Branch:</strong> {{env.repo_branch}} </p>
           <p><strong>ID:</strong> {{env.id}} </p>   
           
    </div>
    <div class="col-md-5 detail">
           <p><strong>Resource</strong> {{state.id}} </p>   
    </div>
    <div class="col-md-12">
    <table class="table table-lined" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="log in $data" ng-class="{'warning':param.expired}" >
            <td data-title="'Action'" sortable="'action'" filter="{ 'action':'text'}" >{{log.action}}</td>
            <td data-title="'Level'" sortable="'level'" filter="{ 'level':'text'}">{{log.level}}</td>
            <td data-title="'Time'" sortable="'timestamp'" filter="{ 'timestamp':'text'}">{{log.timestamp|date:'dd/MM/yyyy hh:mm'}}</td>
            <td data-title="'Msg'" sortable="'message'" filter="{ 'message':'text'}" > {{log.message}}</td>
            <td data-title="'Data'"  sortable="'data'" filter="{ 'data':'text'}"> {{log.data | json}} </td>
        </tr>
    </table>
    </div>
</div>
