<div class="col-md-12 page-button-band ">
    <a><button ng-click="dryrun()" type="button" class="btn" >Dryrun </button></a>
    <a ui-sref-active="hidden" ui-sref="resources({env:state.env,version:state.version})"><button type="button" class="btn" >Overview </button></a>
    <a ui-sref-active="hidden" ui-sref="graph({env:state.env,version:state.version})"><button type="button" class="btn" >Graph</button> </a>
    <a ui-sref-active="hidden" ui-sref="report({env:state.env,version:state.version})"><button type="button" class="btn" >Report </button></a>
</div>	
