<div class="modal-header dialog-header-confirm">

    <h4 class="modal-title"> Start Restore </h4>
</div>
<form name="userForm" ng-submit="done()" novalidate>
    <div class="modal-body">
        <!-- Environment -->
        <div class="form-group">
            <label>Target Environment</label>
            <select ng-model="env" name="env" ng-options="env.name for env in envs track by env.id" required> </select>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Environment Required.</p>
        </div>

        
        <div class="form-group">
            <label>Snapshot</label>
           
            <select ng-model="snapshot" name="snapshot" ng-options="sn.name for sn in snapshots track by sn.id" required/>  </select>
        </div>

    </div>  
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Send</button>
    </div>
</form>

