<div class="row">
    <ol class="breadcrumb col-md-10">
        <li><a ui-sref="portal">Home</a></li>
        <li class="active">Environment: {{env.name}}</a></li>
    </ol>
    <div class="col-md-2">
        <a ui-sref="editEnv({env:state.env})"><button type="button" class="btn btn-primary">Edit <span class="glyphicon glyphicon-wrench"></span></button></a>
		<a ui-sref="params({env:state.env})"><button type="button" class="btn btn-primary" >Parameters View</button></a>
	</div>
</div>
<div class="row">
    <div class="col-md-9 detail">
           <p><strong>Repo:</strong> {{env.repo_url}} </p>
           <p><strong>Branch:</strong> {{env.repo_branch}} </p>
           <p><strong>ID:</strong> {{env.id}} </p>   
    </div>	
    <div class="col-md-12">
    <table class="table table-lined" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="env in $data">
            <td data-title="'version'" sortable="'version'" filter="{ 'version':'text'}"><a ui-sref="resources({env:env.environment,version:env.version})">{{env.version}}</a></td>
            <td data-title="'date'" sortable="'date'" filter="{ 'date':'text'}">{{env.date|date:'M/d/yy H:mm'}}</td>
            <td data-title="'release_status'" sortable="'release_status'" filter="{ 'release_status':'text'}">{{env.release_status}}</td>
        </tr>
    </table>
    </div>
</div>
