<div class="row">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked" ng-if="state.env">
	    <li ui-sref-active="active"> <a ui-sref="envs({env:state.env})"> Overview </a> 
            </li>
           
            <li ui-sref-active="active"> <a ui-sref="params({env:state.env})">Parameters View</a> 
            </li>
            <li ui-sref-active="active"> <a ui-sref="agents({env:state.env})">Agent View </a> 
            </li>
<li role="separator" class="divider"></li>
	     <li ui-sref-active="active"> <a ui-sref="editEnv({env:state.env})"> Edit </a> 
            </li>
<li role="separator" class="divider"></li>
	    <li ui-sref-active="active"> <a ng-click="compile(state.env)"> Recompile </a> 
            </li>
        </ul>
    </div>
    <div class="row" style="position:absolute; bottom:50px;" ng-controller="configCtrl">
        <div class="col-xs-3">
            <button type="button" class="btn btn-default" ng-click="openFeedback(null)" data-toggle="tooltip" data-placement="top" title="Give feedback"><span class="glyphicon glyphicon-thumbs-up"></span> / <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
        </div>

        <div class="col-xs-9">
            <h5>{{config.backend}}</h5> 
        </div>
    </div>
</div>
